Source: i3-xfce
section: utils
Priority: optional
Maintainer: Alexandre Acebedo <alexandre@acebedo.fr>
Build-Depends: debhelper (>= 9), python3 (>= 3.0.0), python (>= 2.7.0), ansible (>= 1.9.0), python3-yaml, python3-progressbar
Standards-Version: 3.9.5
Homepage: http://www.github.com/aacebedo/i3-xfce

Package: i3-xfce
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3 (>= 3.0.0), python (>= 2.7.0), python3-yaml, python3-progressbar, ansible (>= 1.9.0), python-pip, python3-pip
Description: A utility to integrate i3 wm in XFCE
 This program installs config files, themes and utilities to integrate i3 into XFCE. 
